@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville:ital,wght@0,400..700;1,400..700&family=Special+Elite&display=swap');
@import "tailwindcss";

@theme {
    --color-disabled: #767676;
    --font-atkinson: "Atkinson Hyperlegible", sans-serif;
    --font-baskerville: "Baskervville", serif;
    --font-typewriter: "Special Elite", serif;
}

@layer base {
    mark {
        @apply bg-amber-200
    }
}
