@use "mixins/media" as *;

body::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("bg_graphic.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;

  -ms-overflow-style: none;
  scrollbar-width: none;

  @include media(tabletAndUp) {
    background-repeat: no-repeat;
  }
}
