@use "mixins/media" as *;
.no-color-a {
  color: inherit;
  text-decoration: none;
  transition: color 200ms;

  @include media(tabletAndUp) {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

#about-me-header {
  margin-top: 0;
  padding-top: var(--space-xxxl);
}

.no-bot-space-header {
  margin-bottom: 0;
  padding-bottom: 0;
}
