*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--background-color);
  color: var(--dark-text-color);
  line-height: var(--line-height-body);
  font-family: var(--font-family-sans);
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

i {
  font-size: var(--font-size-s);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-text-color);
  line-height: var(--line-height-headers);
  margin-top: var(--space-xxxl);
  margin-bottom: var(--space-xxl);
}

h1 {
  font-size: var(--font-size-xxxl);
}

h2 {
  font-size: var(--font-size-l);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-size: var(--font-size-xl);
}

h4 {
  font-size: var(--font-size-l);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 200ms;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-primary-rotate);
  }
}
