.small-muted-text {
  color: var(--dark-text-color-muted);
  font-size: var(--space-s);
}

.muted-text {
  color: var(--dark-text-color-muted);
}

.h1-override {
  margin-top: var(--space-s);
  margin-bottom: var(--space-xxs);
}

.text-xs {
  font-size: var(--font-size-xs);
}

.text-s {
  font-size: var(--font-size-s);
}

.text-m {
  font-size: var(--font-size-m);
}

.text-bold {
  font-weight: bold;
}
