:root {
  // Simple fonts
  --font-family-sans:
    "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  // Classical line heights
  --line-height-headers: 1.1;
  --line-height-body: 1.5;

  // Classical and robust font sizes system
  --font-size-xs: 0.75rem; // 12px
  --font-size-s: 0.875rem; // 14px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
  --font-size-xxl: 1.5rem; // 24px
  --font-size-xxxl: 2rem; // 32px
  --font-size-xxxxl: 2.5rem; // 40px

  // Text colors
  --dark-text-color: #edf1f7;
  --dark-text-color-muted: #9a9ca3;

  // Classical and robust spacing system
  --space-xxxs: 0.25rem; // 4px
  --space-xxs: 0.375rem; // 6px
  --space-xs: 0.5rem; // 8px
  --space-s: 0.75rem; // 12px
  --space-m: 1rem; // 16px
  --space-l: 1.5rem; // 24px
  --space-xl: 2rem; // 32px
  --space-xxl: 2.5rem; // 40px
  --space-xxxl: 3rem; // 48px
  --space-xxxxl: 4rem; // 64px

  // Application colors
  --background-color: #05080c;
  --primary-color: #97b1d6;
  --secondary-color: #2f5180;
  --accent-color: #6690cb;
  --brown-color: #684d19;
  --red-color: #cf3c30;
  --yellow-color: #e2d31d;
  --green-color: #35ca53;
  --grey-color: #393a3e;
  --purple-color: #3d3373;

  // Neutral colors
  --color-white: hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light: hsl(0, 6%, 93%);
  --color-dark: var(--color-text-header);

  // Border radius
  --border-radius: 0.375rem;

  // Border
  --border: solid 2px var(--color-light);
  --border-dark: #444;

  // Shadows
  --shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);
}
