<div class="mt-m mb-m">
  <div class="infocard-title infocard-blue">
    Links <i class="fa-solid fa-link"></i>
  </div>
  <div class="infocard-content padding-s">
    <p><%= content %></p>
  </div>
</div>
