<div class="mt-m mb-m">
  <div class="infocard-title infocard-grey">
    Showcase <i class="fa-solid fa-image"></i>
  </div>
  <div class="infocard-content">
    <%= image_tag(imagelink) %>
  </div>
</div>
