<div class="mt-m mb-m">
  <div class="infocard-title infocard-purple">
    Comments <i class="fa-solid fa-comment"></i>
  </div>
  <div class="infocard-content padding-s">
    <p><%= content %></p>
  </div>
</div>
