<div class="mt-m mb-m">
  <div class="infocard-title infocard-grey">
    Preview <i class="fa-solid fa-image"></i>
  </div>
  <div class="infocard-content">
    <img src="/<%= project.preview_image %>"></img>
  </div>
</div>
