<div class="mt-m mb-m">
  <div class="infocard-title infocard-blue">
    About <i class="fa-solid fa-circle-info"></i>
  </div>
  <div class="infocard-content padding-s">
    <p><%= content.html_safe %></p>
  </div>
</div>
