<div class="mt-m mb-m">
  <div class="infocard-title infocard-grey">
    Note <i class="fa-solid fa-note-sticky"></i>
  </div>
  <div class="infocard-content padding-s">
    <p><%= content %></p>
  </div>
</div>
