<div class="mt-m mb-m">
  <div class="infocard-title infocard-brown">
    Inactive <i class="fa-solid fa-triangle-exclamation"></i>
  </div>
  <div class="infocard-content padding-s">
    <p>This project is not actively maintained.</p>
  </div>
</div>
