<div class="mt-m mb-m">
  <div class="infocard-title infocard-grey">
    Preview <i class="fa-solid fa-image"></i>
  </div>
  <div class="infocard-content">
    <%= image_tag project.overview_image.variant(saver: {quality: 30}) %>
  </div>
</div>
