<div class="mt-m mb-m">
  <div class="infocard-title infocard-grey">
    Links <i class="fa-solid fa-link"></i>
  </div>
  <div class="infocard-content padding-s">
    <a href="<%= content %>" target="_blank"><%= content[content.index('g')..] %></a>
  </div>
</div>
