<div class="mt-m mb-m">
  <div class="infocard-title infocard-green">
    Cooking something up... <i class="fa-solid fa-gears"></i>
  </div>
  <div class="infocard-content padding-s">
    <p>This project is currently in development and is planned to release soon!</p>
  </div>
</div>
