@use "mixins/media" as mixins;

.main-container {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include mixins.media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}
