@use "mixins/media" as mixins;

.main-container {
  margin-left: var(--space-l);
  margin-right: var(--space-l);

  @include mixins.media(tabletAndUp) {
    margin-left: auto;
    margin-right: auto;
  }
}

.main-div {
  display: block;

  @include mixins.media(tabletAndUp) {
    display: flex;
    justify-content: center;
  }
}

.flex-1 {
  flex: 1;
}

.flex-centered-container {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
  margin-left: auto;
  margin-right: auto;

  @include mixins.media(tabletAndUp) {
    padding-right: var(--space-m);
    padding-left: var(--space-m);
    max-width: 60rem;
  }
}

.sticky-section {
  @include mixins.media(tabletAndUp) {
    padding-bottom: var(--space-xl);
    padding-top: var(--space-xl);
    position: sticky;
    top: 0;
    max-height: 100vh;
    max-width: 60%;
    margin-right: 5vw;
  }
}

.scrolling-section {
  @include mixins.media(tabletAndUp) {
    max-width: 40%;
  }
}
