.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-m {
  margin-bottom: var(--space-m);
}

.mb-s {
  margin-bottom: var(--space-s);
}

// Top margins
.mt-xl {
  margin-top: var(--space-xl);
}

.mt-m {
  margin-top: var(--space-m);
}

.mt-s {
  margin-top: var(--space-s);
}

// Top padding
.pt-xl {
  padding-top: var(--space-xl);
}

.pt-m {
  padding-top: var(--space-m);
}

.pt-s {
  padding-top: var(--space-s);
}
