.mb-xl {
  margin-bottom: var(--space-xl);
}

.mb-l {
  margin-bottom: var(--space-l);
}

.mb-m {
  margin-bottom: var(--space-m);
}

.mb-s {
  margin-bottom: var(--space-s);
}

// Top margins
.mt-xl {
  margin-top: var(--space-xl);
}

.mt-m {
  margin-top: var(--space-m);
}

.mt-s {
  margin-top: var(--space-s);
}

.mt-xs {
  margin-top: var(--space-xs);
}

// Top padding
.pt-xl {
  padding-top: var(--space-xl);
}

.pt-m {
  padding-top: var(--space-m);
}

.pt-s {
  padding-top: var(--space-s);
}

.pl-s {
  padding-left: var(--space-s);
}

.padding-s {
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}

.padding-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}
