<div class="mb-l">
  <div class="exp-dates">
    <%= dates %>
  </div>
  <div class="exp-name">
    <%= name %>
  </div>
  <div class="exp-major">
    <%= major %>
  </div>
  <div class="exp-location">
    <%= location %>
  </div>
</div>
