<div class="main-div flex-1 pl-s">
  <div class="sticky-section pt-s">
    <div class=" mt-xl mb-xl">
      <p class="introtext">Hey, I'm </p>
      <h1 class="h1-override">Qiuyu Huang</h1>
      <p class="mb-s">Software Engineering Student</p>
      <div class="mb-xl mt-xl muted-text">
        I like building things from the ground up. <br>
        github: <a target="_blank" href="https://github.com/redacted24">@redacted24</a><br>
        email: <a target="_blank" href="mailto:qiu.y.huang@mail.mcgill.ca">huangq4 [at] outlook (dot) com</a>
      </div>
      <div class="socials">
        <a href="https://www.linkedin.com/in/qiuyuhuang/" target="_blank" class="muted-text no-color-a"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/redacted24" target="_blank" class="muted-text no-color-a"><i class="fa-brands fa-square-github"></i></a>
      </div>
    </div>
    <div class="heading-navigation">
      <div>
        <a href="#about-me">About me</a>
      </div>
      <div>
        <a href="#experience">Experience</a>
      </div>
      <div>
        <a href="#projects">Projects</a>
      </div>
    </div>
  </div>
  <div class="scrolling-section">
    <div id="about-me">
      <h2 class="" id="about-me-header">ABOUT ME</h2>
      <div class="">
        <p>
          Just a kid trying to learn every day.<br>
          My interests are in low level software development, cybersecurity and game development.
        </p>
        <br>
        <p>
          In my spare time, you can usually find me playing chess, snowboarding in the park, practicing kendo and rolling nat 20s in <a target="_blank" href="https://baldursgate3.game/">Baldur's Gate 3</a>.
        </p>
      </div>
    </div>
    <div id="experience">
      <h2 class="">EXPERIENCE</h2>
      <%= 
        render "experience", 
        dates: "July - October 2025",
        name: "Software Developer Intern - CSBQ",
        url: "https://csbq.ca",
        description: "Cleaned legacy data and developed a procedure to mitigate 
        future users’ entry errors. Created a data processing tool reducing 
        overall time spent by more than 200%, and optimized queries and server logic to reduce page loading times by 40%.",
        tags: ["Python", "Java", "Frontend Development"]
      %>
    </div>
    <div id="projects">
      <h2 class="">Projects</h2>
      <% for project in @projects.where(featured: 1).order(date: :desc) %>
        <%= 
        render "featured_project",
        dates: project.date,
        name: project.name,
        description: project.description,
        url: "/project/" + project.url_string,
        github_link: project.github_link,
        tags: project.tags
      %>
      <% end %>
    </div>
    <a href="/project" class=" text-bold">See all projects<i class="fa-solid fa-arrow-right"></i></a>
    <%= render "footer" %>
  </div>
</div>
