<%= render "menu_bar" %>
<div>
  This is the homepage, or the feed, of Qiuyu's website.
</div>
<div>
  <div>
    <img src="" alt="">
  </div>
  <div>
    <p>Qiuyu Huang</p>
    <p>@redacted24</p>
    <p>McGill University</p>
    <p>Software Engineering U2</p>
    <p>Canada</p>
  </div>
</div>
