<div class="index-container">
  <div class="index-content flex-1">
    <a href="/"><i class="fa-solid fa-arrow-left"></i> Qiuyu Huang</a>
    <h2>Projects</h2>
    <% for project in @all_projects.order(date: :desc) %>
      <%= 
        render "featured_project",
        dates: project.date,
        name: project.name,
        description: project.description,
        url: "/project/" + project.url_string,
        github_link: project.github_link,
        tags: project.tags,
        opensource: project.opensource,
        preview_image_link: project.preview_image
      %>
    <% end %>
  </div>
  <%= render "footer" %>
</div>
