<%= render "menu_bar" %>

<div>
  Here is a non-exhaustive list of all projects I currently have.
</div>

<% for project in @all_projects do %>
  <a href="/project/<%= project.url_string %>"><%= project.name %></a>
<% end %>

