<div class="show-container flex-1">
  <div class="show-content">
    <a href="/project" class="mt-xl"><i class="fa-solid fa-arrow-left"></i> All projects</a>
    <h2><%= @project.name %></h2>
    <div class="tag-container">
      <% for tag in @project.tags %>
        <div class="tag"><%= tag %></div>
      <% end %>
    </div>
    <%= render 'project/infocards/card_links', content: @project.github_link %>
    <div>
      <%= @project.date %>
    </div>
  </div>
</div>
