@mixin text {
  color: var(--dark-text-color-muted);
  font-size: var(--font-size-s);
}

// experience component
.exp-dates {
  font-size: var(--font-size-xs);
  color: var(--dark-text-color-muted);
  margin-bottom: var(--space-xxs);
}

.exp-name {
  display: flex;
  justify-content: space-between;
  color: var(--dark-text-color);
  font-weight: bold;
}

.exp-description {
  font-size: var(--font-size-s);
}

.exp-location {
  @include text;
  margin-bottom: var(--space-xxs);
}

.exp-major {
  font-size: var(--font-size-s);
}

.exp-title {
  @include text;
}

.exp-closed-source {
  font-size: var(--font-size-s);
  font-weight: normal;

  padding: var(--space-xxs);
  border: 1px solid var(--red-color);
}
