.exp-item {
  border: 1px solid transparent;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;

  padding: var(--space-s);
  position: relative;

  border: 1px solid var(--dark-text-color-muted);
  background-color: #131313;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid var(--dark-text-color-muted);
    background-color: #292929;
  }
}
