@mixin text {
  color: var(--dark-text-color-muted);
  font-size: var(--font-size-s);
}

// experience component
.exp-dates {
  font-size: var(--font-size-xs);
  color: var(--dark-text-color-muted);
  margin-bottom: var(--space-xxs);
}

.exp-name {
  color: var(--dark-text-color);
  font-weight: bold;
}

.exp-description {
  font-size: var(--font-size-s);
}

.exp-location {
  @include text;
  margin-bottom: var(--space-xxs);
}

.exp-title {
  @include text;
}
