@use "mixins/media" as *;

.heading-navigation {
  display: none;

  @include media(tabletAndUp) {
    display: block;
  }
}


.highlight {
  color: var(--primary-color);
}

.project_preview_img {
  width: 100%;
  padding-top: var(--space-s);
  padding-bottom: var(--space-l);
}
