@use "mixins/media" as *;

.heading-navigation {
  display: none;

  @include media(tabletAndUp) {
    display: block;
  }
}

.highlight {
  color: var(--primary-color);
}

.project_preview_img {
  width: 100%;
  padding-bottom: var(--space-m);
}

.project_preview_img img {
  width: 100%;
}
