@use "mixins/media" as *;

.heading-navigation {
  display: none;

  @include media(tabletAndUp) {
    display: block;
  }
}


.highlight {
  color: var(--primary-color);
}

.project_preview_img {
  width: 100%;
  padding-bottom: var(--space-m);
}

.closed-source-text {
  font-weight: bold;
  color: var(--yellow-color);
}

.open-source-text {
  font-weight: bold;
  color: var(--green-color);
}
