@use "mixins/media" as mixins;

.index-container {
  margin-top: var(--space-xl);

  @include mixins.media(tabletAndUp) {
    display: flex;
    justify-content: center;
  }
}

.index-content {
  @include mixins.media(tabletAndUp) {
    width: 30rem;
  }
}
