@use "mixins/media" as mixins;

.index-container {
  margin-top: var(--space-xl);
  min-height: 95vh;
  display: flex;
  flex-direction: column;

  @include mixins.media(tabletAndUp) {
    align-items: center;
  }
}

.index-content {
  @include mixins.media(tabletAndUp) {
    width: 40%;
  }
}
