.infocard-title {
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;

  padding-left: var(--space-s);
}

.infocard-content {
  border-color: var(--border-dark);
  border-width: 1px;
  border-style: solid;
  border-top: none;
}

.infocard-blue {
  background-color: var(--secondary-color);
}

.infocard-yellow {
  
}

.infocard-brown {
  
}
