.infocard-title {
  font-size: var(--font-size-s);
  border-color: var(--secondary-color);
  border-width: 1px;
  border-style: solid;

  padding-left: var(--space-s);
}

.infocard-content {
  border-color: var(--border-dark);
  border-width: 1px;
  border-style: solid;
  border-top: none;

  font-size: var(--font-size-s);
}

.infocard-blue {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.infocard-yellow {
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
}

.infocard-brown {
  background-color: var(--brown-color);
  border-color: var(--brown-color);
}

.infocard-grey {
  background-color: var(--grey-color);
  border-color: var(--grey-color);
}

.infocard-purple {
  background-color: var(--purple-color);
  border-color: var(--purple-color);
}
