.menu-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: var(--space-m);

  div {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
}
