@use "mixins/media" as mixins;

.show-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: var(--space-xl);
}

.show-content {
  min-width: 50%;
  @include mixins.media(tabletAndUp) {
    min-width: unset;
    max-width: 70%;
  }
}
