@use "mixins/media" as mixins;

.show-container {
  margin-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  min-height: 95vh;

  @include mixins.media(tabletAndUp) {
    align-items: center;
  }
}

.show-content {
  @include mixins.media(tabletAndUp) {
    width: 40%;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-header-github {
  font-size: var(--font-size-xl);
}

.project-year-commits {
  display: flex;
  justify-content: space-between;
}
