.tag {
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-color-bg);
  width: fit-content;
  font-size: var(--font-size-xs);
  font-weight: bold;

  padding-left: var(--space-s);
  padding-right: var(--space-s);
  padding-top: var(--space-xxxs);
  padding-bottom: var(--space-xxxs);

  margin-right: var(--space-s);
  margin-bottom: var(--space-xs);
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--space-s);
}
