.small-muted-text {
  color: var(--dark-text-color-muted);
  font-size: var(--space-s);
}

.muted-text {
  color: var(--dark-text-color-muted);
}

.h1-override {
  margin-top: var(--space-s);
  margin-bottom: var(--space-xxs);
}
