/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@use "mixins/media";

// Configuration
@use "config/variables";
@use "config/reset";
@use "config/overrides";
@use "config/text_overrides";
@use "config/globals";

// Components
@use "components/button";
@use "components/menu_bar";
@use "components/introtext";
@use "components/tags";
@use "components/experience";
@use "components/socials";
@use "components/featured_project";
@use "components/homepage";
@use "components/footer";
@use "components/show";
@use "components/index";
@use "components/infocards";

// Layouts
@use "layouts/container";
@use "layouts/spacing";
